:root {
  --main-bg-color: rgb(51, 110, 224);
  --main-linear-gradient: 0deg, rgba(51, 110, 224, 1) 0%,
    rgba(0, 34, 116, 1) 100%;

  --clr-light: #ebe1e1;
  --clr-light-gray: #a1a1a1;

  --clr-card-bg-gray: rgb(73, 73, 73, 0.4);
}
