@use './abstracts/' as *;
@use './base/' as *;
@use './utilities/' as *;
@use './components/' as *;

.main {
  @include flex-config($direction: column, $align: center);
  height: 100vh;
  background: var(--main-bg-color);
  background: linear-gradient(var(--main-linear-gradient));
}

.error {
  display: none;
}

.app-container {
  @include flex-config($direction: column, $justify: center);
  height: 100vh;
}

.location-date {
  color: var(--clr-light);

  &__location {
    font-size: 2rem;
  }
}

.main-weather-info {
  @include flex-config($direction: column, $justify: center);
  color: var(--clr-light);
}

.main-weather {
  @include flex-config($align: center);
}

.weather-icon {
  display: none;
}

.degrees {
  &__degrees {
    font-size: 5rem;
  }

  &__description {
    font-size: 2rem;
  }
}

.search-input-wrapper {
  display: flex;
  margin-top: 1rem;

  &__search-input {
    width: 100%;
    font-size: 1.8rem;
    padding: 1rem;
    outline: none;
  }

  &__search-icon {
    padding: 1.2rem;
    font-size: 2rem;
    background-color: black;
    min-width: 50px;
    text-align: center;
    cursor: pointer;
  }
}

.additional-weather-info {
  margin-top: 2rem;
  border-top: 1px solid var(--clr-light-gray);
  border-bottom: 1px solid var(--clr-light-gray);
  display: none;
}

.additional-info {
  &__value {
    @include flex-config($align: center);
    font-size: 2rem;
  }

  &__degrees-span {
    font-size: 5rem;
  }

  &__category {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    color: var(--clr-light-gray);
  }
}

.additional-info-top {
  @include flex-config($justify: space-around);
  padding: 2rem 0;
}

.additional-info-bottom {
  @include flex-config($justify: space-around);
  padding-bottom: 2rem;
}

.info-cards {
  @include flex-config($justify: space-around);
  margin-top: 2rem;
  display: none;
}
