@use './abstracts/' as *;
@use './base/' as *;
@use './utilities/' as *;
@use './components/' as *;

.main {
  @include flex-config($direction: column, $align: center);
  position: relative;
  min-height: 100vh;
  background-image: url('../assets/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgb(14, 14, 14, 0.8);
}

.app-container {
  @include flex-config($direction: column, $justify: center);
  min-height: 100vh;
  position: relative;
  padding-top: 3rem;
}

.location-date {
  color: var(--clr-light);

  &__location {
    font-size: clamp(2rem, 2vw, 3rem);
  }
}

.main-weather-info {
  @include flex-config($direction: column, $justify: center);
  color: var(--clr-light);
}

.main-weather {
  @include flex-config($align: center);
  display: none;
}

.weather-icon {
  display: none;
  font-size: 10rem;
}

.degrees {
  &__degrees {
    font-size: clamp(5rem, 6vw, 10rem);
  }

  &__description {
    font-size: 2rem;
  }
}

.search-label {
  font-size: clamp(1.5rem, 2vw, 1.8rem);
  padding-top: 1rem;
}

.search-input-wrapper {
  display: flex;
  margin-top: 1rem;

  &__search-input {
    width: 100%;
    font-size: 1.8rem;
    padding: 1rem;
    outline: none;

    @include respond(md) {
      width: 30%;
    }
  }

  &__search-icon {
    padding: 1.2rem;
    font-size: 2rem;
    background-color: black;
    min-width: 50px;
    text-align: center;
    cursor: pointer;
  }
}

.input-error {
  display: none;
  font-size: clamp(1.5rem, 2vw, 2rem);
  margin-top: 1rem;
  color: var(--clr-invalid);
}

.user-position-error {
  display: none;
  font-size: clamp(1.5rem, 2vw, 2rem);
  margin-top: 1rem;
  color: var(--clr-invalid);
}

.additional-weather-info {
  margin-top: 2rem;
  border-top: 1px solid var(--clr-light-gray);
  border-bottom: 1px solid var(--clr-light-gray);
  display: none;
}

.additional-info {
  &__value {
    @include flex-config($align: center);
    font-size: clamp(2rem, 3vw, 4.5rem);
  }

  &__category {
    font-size: clamp(1.5rem, 2vw, 2rem);
    margin-top: 0.5rem;
    color: var(--clr-light-gray);
  }
}

.additional-info-top {
  @include flex-config($justify: space-around);
  padding: 2rem 0;
}

.additional-info-bottom {
  @include flex-config($justify: space-around);
  padding-bottom: 2rem;
}

.info-cards {
  @include flex-config($justify: space-around);
  margin-top: 2rem;
  display: none;
  padding-bottom: 3rem;
}
