@use '../abstracts/' as *;

.info-card {
  @include flex-config($direction: column, $align: center);
  background-color: var(--clr-card-bg-gray);
  padding: 3rem 1rem;
  width: 30%;
  box-shadow: var(--clr-box-shadow);
  text-align: center;

  @include respond(sm) {
    padding: 4rem 1rem;
  }

  @include respond(md) {
    padding: 6rem 2rem;
    width: 20%;
  }

  &__description {
    flex: 1;

    font-size: clamp(1.5rem, 2vw, 2rem);
    color: var(--clr-light-gray);
  }

  &__value {
    font-size: clamp(1.8rem, 2vw, 3rem);
    margin-top: 1rem;
    color: var(--clr-light);
  }
}
